<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="admin">Home</a>
  </div>
  <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
    <ul class="nav navbar-nav">
      <!-- <li><a ui-sref="#">Record</a></li> -->
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="login">Login</a></li>
      <li><a ui-sref="register">Sign up</a></li>
    </ul>
  </div>

</nav>

<ui-view></ui-view>