<br>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="login-component">
      <form ng-submit="$ctrl.submitAction()">
        <div class="form-group">
          <label for="login-email"><i class="fa fa-envelope"></i> Email</label>
          <input type="text" class="form-control" id="login-email" ng-model="$ctrl.email"
            ng-change="$ctrl.emailChangeHandler()">
        </div>
        <div class="form-group">
          <label for="login-password"><i class="fa fa-key"></i> Password</label>
          <input type="password" class="form-control" ng-model="$ctrl.password"
            ng-change="$ctrl.passwordChangeHandler()">
        </div>
        <div class="error-message text-center">{{$ctrl.loginError}}</span>
        <div class="form-group">
          <input type="submit" class="form-control" ng-model="$ctrl.loginBtn" ng-disabled="$ctrl.requiredInput">
        </div>
      </form>
    </div>
  </div>
</div>
