<span class="page-title">Profile</span>
<div class="row">
  <div class="col-md-6">
    <div class="profile-card">
      <div class="row">
        <div class="col-sm-6">
          <div class="profile-img">
            <img src="" alt="profile">
          </div>
        </div>
        <div class="col-sm-6">
          {{$ctrl.user.name|uppercase}}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <i class="fa fa-envelope"></i> {{$ctrl.user.email}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <span class="block-title">Game Record</span>
    <div class="profile-records">
      <ul>
        <li ng-repeat="item in $ctrl.user.relateRecords">
          <span class="game-id">#{{item.game_id}}</span>
          <span class="game-point">{{item.points}}</span>
          <span class="game-winner" ng-if="item.winner!=0">win</span>
          <span class="game-loser" ng-if="item.winner==0">loss</span>
      </ul>
    </div>
  </div>
</div>