* {
    margin: 0;
    padding: 0;
}

:root {
    --text-primary--: black;
    --bg-primary--: white;
    --bg-secondary--: whitesmoke;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.error-message {
    font-size: 12px;
    color: #ff9494;
}
